[submodule "submodules/Quick"]
	path = submodules/Quick
	url = https://github.com/Quick/Quick.git
[submodule "submodules/Nimble"]
	path = submodules/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "submodules/Nimble-Snapshots"]
	path = submodules/Nimble-Snapshots
	url = https://github.com/AshFurrow/Nimble-Snapshots.git
